<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>

<body>
	<section>
	
    <div class = "container my-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
            <div class="login-card-light p-3 shadow-lg rounded">
                <div class="pt-3">
                    <h2 class="text-primary display-5  font-italic text-center font-weight-bold">
						Enter New Password
						 </h2>
                </div>
          
				
                <form class="my-3" th:action="@{/change-password}"  method="post">
                    <div class="form-group">
                        <input type="text" 
                            class="form-control form-control-sm" 
                            name="newpassword"
                            placeholder="Enter New Password Here"
                            required/>
                    </div>

                  

                    <div class="">
                        <button class="btn btn-sm btn-outline-primary col">
                       Change Password
                        </button>
                    </div>

               
                </form>
            </div>
        </div>

	</div>
</div>
	</section>
</body>
</html>